{% extends 'base/main.html' %}

{% block content %}

    {% include 'base/header.html' %}
    <section id="contact">
        <div class="contact-div">
            <h1>Contact Us</h1>
            <h3>Book Service</h3>
            <p>+91 9677146666</p>
            <a href="https://wa.me/919677146666" target="_blank"><button id="whatsapp"><i class="fa-brands fa-whatsapp"></i>  Whatsapp</button></a>
            <h3>Email</h3>
            <p id="email">mrglossceramicoating@gmail.com</p>
            <h3>Visit Our Studio</h3>
            <a href="https://maps.app.goo.gl/vneUauywr7d6smVS9" target="_blank"><button>View Location</button></a>

        </div>
    </section>
    

    {% include 'base/footer.html' %}

{% endblock %}